* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

header {
    text-align: center;
}

h1, h3 {
    color: white;
    margin: 20px 0;
}

header > div {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: white;
    padding: 10px 30px;
    margin: 0 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    box-shadow: 0px 0px 5px 2px aqua;
}

/* .btn:active{

} */

main {
    margin-top: 50px;
}

#container {
    max-width: 900px;
    /* height: 900px; */
    background-color: aqua;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

*[class^="square"] {
    border: 3px solid aqua;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.squareEasy {
    width: 10%;
    height: 10%;
}

.squareMedium {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.squareHard {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.bomb {
    background-color: tomato;
    font-weight: bold;
    cursor: not-allowed;
}

.active {
    background-color: lime;
    cursor: not-allowed;
}

.alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    background-color: white;
    border-radius: 30px;
    font-size: 3rem;
    display: none;
}
